x64/Debug/vc143.pdb
x64/Debug/vc143.idb
x64/Debug/ui.obj
x64/Debug/StudentManager.vcxproj.FileListAbsolute.txt
x64/Debug/StudentManager.tlog/StudentManager.lastbuildstate
x64/Debug/StudentManager.tlog/link.secondary.1.tlog
x64/Debug/StudentManager.tlog/link.command.1.tlog
x64/Debug/StudentManager.tlog/CL.write.1.tlog
x64/Debug/StudentManager.tlog/CL.read.1.tlog
x64/Debug/StudentManager.tlog/Cl.items.tlog
x64/Debug/StudentManager.tlog/CL.command.1.tlog
x64/Debug/StudentManager.ilk
x64/Debug/StudentManager.exe.recipe
x64/Debug/StudentManager.tlog/link.read.1.tlog
x64/Debug/StudentManager.log
x64/Debug/student.obj
x64/Debug/StudentManager.Build.CppClean.log
x64/Debug/StudentManager.tlog/link.write.1.tlog
x64/Debug/main.obj
StudentManager.vcxproj.user
StudentManager.vcxproj.filters
StudentManager.vcxproj
.gitattributes
